---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

Work experience
======
* June 2024 - Present: Software Engineer
  * Adhvan Inc.

* August 2021 - May 2024: Graduate Teaching Assistant
  * University of Texas at Arlington
  * Duties included: Assisted in teaching graduate and undergraduate courses: Information Security, Secure Programming, Numerical
Methods, Computer Vision, Discrete Structures. Provided academic support and guidance to students, fostering a collaborative learning environment. Conducted exams, reviewed exam papers and assisted students with exam preparation

* June 2020 - April 2021: Software Engineer
  * ConnectJapan
 
* Jan 2017 - Dec 2019: Instructor, Short Course Training Program
  * Institute of Information Technology, University of Dhaka Dhaka, Bangladesh
  * Courses Conducted: Office Applications for Smart Office, Web Design using HTML/CSS/Javascript, and Web Programming using PHP/MySQL
 
* Jan. 2016 - Jun. 2016: Intern
  * NNS Solutions Ltd
  * Duties included: developing and testing

{% include base_path %}

{% for post in site.experience reversed %}
  {% include archive-single.html %}
{% endfor %}
